<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rooms-hotels" aria-expanded="true">
                <span class="sr-only">{{"HOTELS.ROOMS"|translate}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{"HOTELS.ROOMS"|translate}}</a>
        </div>
        <div class="collapse navbar-collapse" id="rooms-hotels">
            <div class="navbar-form navbar-left">
                <select class="form-control" name="rooms" [(ngModel)]="chambreCount">
                    <option value="1">1 {{"HOTELS.ROOM"|translate}}</option>
                    <option value="2">2 {{"HOTELS.ROOMS"|translate}}</option>
                    <option value="3">3 {{"HOTELS.ROOMS"|translate}}</option>
                    <option value="4">4 {{"HOTELS.ROOMS"|translate}}</option>
                    <option value="5">5 {{"HOTELS.ROOMS"|translate}}</option>
                </select>
                <div *ngIf="chambreCount>=1" style="margin-top: 20px">
                    <strong>{{"HOTELS.ROOM"|translate}} 1 : </strong>
                    <select class="form-control" name="adults_1" [(ngModel)]="room1.countAdult">
                        <option value="1">1 {{"HOTELS.ADULT"|translate}}</option>
                        <option value="2">2 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="4">4 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="5">5 {{"HOTELS.ADULTS"|translate}}</option>
                    </select>
                    <select class="form-control" name="childs_1" [(ngModel)]="room1.countChild">
                        <option value="0">0 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="1">1 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.CHILDS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.CHILDS"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_1_1" *ngIf="room1.countChild>=1" [(ngModel)]="room1.age1">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_1_2" *ngIf="room1.countChild>=2" [(ngModel)]="room1.age2">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_1_3" *ngIf="room1.countChild>=3" [(ngModel)]="room1.age3">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                </div>
                <div *ngIf="chambreCount>=2" style="margin-top: 20px">
                    <strong>{{"HOTELS.ROOM"|translate}} 2 : </strong>
                    <select class="form-control" name="adults_2" [(ngModel)]="room2.countAdult">
                        <option value="1">1 {{"HOTELS.ADULT"|translate}}</option>
                        <option value="2">2 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="4">4 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="5">5 {{"HOTELS.ADULTS"|translate}}</option>
                    </select>
                    <select class="form-control" name="childs_2" [(ngModel)]="room2.countChild">
                        <option value="0">0 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="1">1 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.CHILDS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.CHILDS"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_2_1" *ngIf="room2.countChild>=1" [(ngModel)]="room2.age1">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_2_2" *ngIf="room2.countChild>=2" [(ngModel)]="room2.age2">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_2_3" *ngIf="room2.countChild>=3" [(ngModel)]="room2.age3">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                </div>
                <div *ngIf="chambreCount>=3" style="margin-top: 20px">
                    <strong>{{"HOTELS.ROOM"|translate}} 3 : </strong>
                    <select class="form-control" name="adults_3" [(ngModel)]="room3.countAdult">
                        <option value="1">1 {{"HOTELS.ADULT"|translate}}</option>
                        <option value="2">2 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="4">4 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="5">5 {{"HOTELS.ADULTS"|translate}}</option>
                    </select>
                    <select class="form-control" name="childs_3" [(ngModel)]="room3.countChild">
                        <option value="0">0 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="1">1 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.CHILDS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.CHILDS"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_3_1" *ngIf="room3.countChild>=1" [(ngModel)]="room3.age1">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_3_2" *ngIf="room3.countChild>=2" [(ngModel)]="room3.age2">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_3_3" *ngIf="room3.countChild>=3" [(ngModel)]="room3.age3">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                </div>
                <div *ngIf="chambreCount>=4" style="margin-top: 20px">
                    <strong>{{"HOTELS.ROOM"|translate}} 4 : </strong>
                    <select class="form-control" name="adults_4" [(ngModel)]="room4.countAdult">
                        <option value="1">1 {{"HOTELS.ADULT"|translate}}</option>
                        <option value="2">2 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="4">4 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="5">5 {{"HOTELS.ADULTS"|translate}}</option>
                    </select>
                    <select class="form-control" name="childs_4" [(ngModel)]="room4.countChild">
                        <option value="0">0 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="1">1 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.CHILDS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.CHILDS"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_4_1" *ngIf="room4.countChild>=1" [(ngModel)]="room4.age1">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_4_2" *ngIf="room4.countChild>=2" [(ngModel)]="room4.age2">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_4_3" *ngIf="room4.countChild>=3" [(ngModel)]="room4.age3">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                </div>
                <div *ngIf="chambreCount>=5" style="margin-top: 20px">
                    <strong>{{"HOTELS.ROOM"|translate}} 5 : </strong>
                    <select class="form-control" name="adults_5" [(ngModel)]="room5.countAdult">
                        <option value="1">1 {{"HOTELS.ADULT"|translate}}</option>
                        <option value="2">2 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="4">4 {{"HOTELS.ADULTS"|translate}}</option>
                        <option value="5">5 {{"HOTELS.ADULTS"|translate}}</option>
                    </select>
                    <select class="form-control" name="childs_5" [(ngModel)]="room5.countChild">
                        <option value="0">0 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="1">1 {{"HOTELS.CHILD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.CHILDS"|translate}}</option>
                        <option value="3">3 {{"HOTELS.CHILDS"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_5_1" *ngIf="room5.countChild>=1" [(ngModel)]="room5.age1">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_5_2" *ngIf="room5.countChild>=2" [(ngModel)]="room5.age2">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                    <select class="form-control" name="child_5_3" *ngIf="room5.countChild>=3" [(ngModel)]="room5.age3">
                        <option value="1">1 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="2">2 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="3">3 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="4">4 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="5">5 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="6">6 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="7">7 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="8">8 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="9">9 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="10">10 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="11">11 {{"HOTELS.YEARS_OLD"|translate}}</option>
                        <option value="12">12 {{"HOTELS.YEARS_OLD"|translate}}</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-4 col-md-offset-8">
                    <button type="button" class="btn btn-primary  btn-block"  (click)="updateRooms()">{{"HOTELS.SEARCH_HOTELS"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#filtre-hotels" aria-expanded="true">
                <span class="sr-only">Filtre</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Filtre</a>
        </div>
        <div class="collapse navbar-collapse"   id="filtre-hotels">
            <form class="navbar-form navbar-left" #filtreForm="ngForm">
                <div class="form-group">
                    <input type="date" class="form-control" (ngModelChange)="onChangeCheckIn($event)" [(ngModel)]="search.checkIn" placeholder="checkIn"  name="searchCheckIn">
                    <select class="form-control" [(ngModel)]="search.nuitees" (ngModelChange)="onChange($event)"  name="searchNuitees">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="text" class="form-control" (ngModelChange)="onChangeNom($event)" name="searchName"
                       [(ngModel)]="search.nom" placeholder="{{'HOTELS.SEARCH'|translate}}"
                           source="http://os-travel.com/api/nameshotels?name=:keyword" ng2-auto-complete
                           value-property-name="false"
                           display-property-name="libelle"
                           blank-option-text="Clear"
                           min-chars="2"/>
                    <input type="text" class="form-control" (ngModelChange)="onChangeVille($event)" name="city"
                           [(ngModel)]="search.ville" placeholder="{{'HOTELS.CITY'|translate}}"
                           source="http://os-travel.com/api/villes?name=:keyword" ng2-auto-complete
                           value-property-name="false"
                           display-property-name="libelle"
                           blank-option-text="Clear"
                           min-chars="2"/>
                    <select class="form-control" [(ngModel)]="search.etoiles" (ngModelChange)="onChange($event)" name="stars">
                        <option value="">{{'HOTELS.NUMBER_OF_STARS'|translate}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ngClass="{'active':search.orderBy=='libelle'}">
                    <a href="javascript:void(0)" (click)=" updateSort('libelle');">
                        {{'HOTELS.NAMES'|translate}}
                        <span *ngIf="search.order=='DESC' && search.orderBy=='libelle'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        <span *ngIf="search.order=='ASC' && search.orderBy=='libelle'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </a>
                </li>
                <li ngClass="{'active':search.orderBy=='categorie'}">
                    <a href="javascript:void(0)" (click)=" updateSort('categorie');">
                        {{'HOTELS.STARS'|translate}}
                        <span *ngIf="search.order=='DESC' && search.orderBy=='categorie'" class="glyphicon glyphicon-sort-by-order-alt"></span>
                        <span *ngIf="search.order=='ASC' && search.orderBy=='categorie'" class="glyphicon glyphicon-sort-by-order"></span>
                    </a>
                </li>
                <li ngClass="{'active':search.orderBy=='ville'}">
                    <a href="javascript:void(0)" (click)=" updateSort('ville');">
                        {{'HOTELS.CITIES'|translate}}
                        <span *ngIf="search.order=='DESC' && search.orderBy=='ville'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        <span *ngIf="search.order=='ASC' && search.orderBy=='ville'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<loading *ngIf="loadingList"></loading>
<p *ngIf="!loadingList && hotels.length ==0" class="bg-warning">{{"HOTELS.NO_AVAILABLE"|translate}}</p>
<div class="col-md-12 " *ngFor="let hotel of hotels">
    <list-single-hotel [hotel]="hotel" [search]="search"></list-single-hotel>
</div>
<loading *ngIf="loadingMore"></loading>
<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">
</div>