<h1>liste des hotels</h1>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="date" class="form-control" (ngModelChange)="onChangeCheckIn($event)" [(ngModel)]="search.checkIn" placeholder="checkIn">
                    <select class="form-control"  [(ngModel)]="search.nuitees" (ngModelChange)="onChange($event)">
                        <option value="">Nights</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="text" class="form-control" (ngModelChange)="onChangeNom($event)" [(ngModel)]="search.nom" placeholder="Search">
                    <input type="text" class="form-control" (ngModelChange)="onChangeVille($event)" [(ngModel)]="search.ville" placeholder="City">
                    <select class="form-control" [(ngModel)]="search.etoiles"  (ngModelChange)="onChange($event)">
                        <option value="">Number of stars</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li ngClass="{'active':search.orderBy=='libelle'}">
                        <a href="javascript:void(0)" (click)=" updateSort('libelle');">
                            Names
                            <span *ngIf="search.order=='DESC' && search.orderBy=='libelle'">&uarr;</span>
                            <span *ngIf="search.order=='ASC' && search.orderBy=='libelle'">&darr;</span>
                        </a>
                    </li>
                    <li ngClass="{'active':search.orderBy=='categorie'}">
                        <a href="javascript:void(0)" (click)=" updateSort('categorie');">
                            Stars
                            <span *ngIf="search.order=='DESC' && search.orderBy=='categorie'">&uarr;</span>
                            <span *ngIf="search.order=='ASC' && search.orderBy=='categorie'">&darr;</span>
                        </a>
                    </li>
                    <li ngClass="{'active':search.orderBy=='ville'}">
                        <a href="javascript:void(0)" (click)=" updateSort('ville');">
                            Cities
                            <span *ngIf="search.order=='DESC' && search.orderBy=='ville'">&uarr;</span>
                            <span *ngIf="search.order=='ASC' && search.orderBy=='ville'">&darr;</span>
                        </a>
                    </li>
                    <li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<loading *ngIf="loadingList"></loading>
<p *ngIf="!loadingList && hotels.length ==0"class="bg-warning">No hotels available</p>
<div class="col-md-12 " *ngFor="let hotel of hotels">
    <list-single-hotel [hotel]="hotel"></list-single-hotel>
</div>
<loading *ngIf="loadingMore"></loading>
<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">
</div>