<h1>Login Form</h1>
<p [hidden]="!confirmed" class="bg-success">Success</p>
<form [hidden]="confirmed" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" [(ngModel)]="login" required name="login" class="form-control"  #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">  Email is required </div>
        <div [hidden]="!error" class="alert alert-danger"> Invalid  login or password  </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" required name="password" class="form-control"  #pwd="ngModel">
        <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger"> Password is required </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid || loading">
        <span *ngIf="loading">Loading ...</span>
        <span *ngIf="!loading">Submit</span>
    </button>
</form>