<h1>{{"PROFILE.TITLE"|translate}}</h1>
<alert class="danger" [view]="error" text="PROFILE.INVALID_FORM"></alert>
<form [hidden]="confirmed" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
        <label>{{"PROFILE.EMAIL"|translate}}</label>
        <input type="email" [(ngModel)]="login" required name="login" class="form-control"  #email="ngModel">
        <div [@errorMessage]="email.valid || email.pristine" class="text-danger">{{"PROFILE.EMAIL_REQUIRED"|translate}}</div>
    </div>
    <div class="form-group">
        <label>{{"PROFILE.PASSWORD"|translate}}</label>
        <input type="password" [(ngModel)]="password" required name="password" class="form-control"  #pwd="ngModel">
        <div [@errorMessage]="pwd.valid || pwd.pristine" class="text-danger">{{"PROFILE.PASSWORD_REQUIRED"|translate}}</div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid || loading">
        <span *ngIf="loading">{{"PROFILE.LOADING"|translate}} ...</span>
        <span *ngIf="!loading">{{"PROFILE.SUBMIT"|translate}}</span>
    </button>
</form>